.cdx-quote-icon svg {
  transform: rotate(180deg);
}

.cdx-quote .cdx-quote {
  margin: 0;
  padding: 20px 25px;

  &__caption {
    outline: none;
    font-style: oblique;
    position: relative;
    margin-left: auto;
    width: fit-content;

    &:empty:not(:focus) {
      min-width: 120px;
    }

    &:not(:empty),
    &:focus {
      padding-left: 20px;
    }

    &:empty:before {
      right: 0;
    }

    &:not(:empty):before,
    &[data-placeholder]:empty:focus::before {
      content: '\2015' !important;
      opacity: 1 !important;
      left: 0;
    }
  }

  &__text {
    outline: none;
    font-style: oblique;
    margin-bottom: 5px;

    &__center {
      text-align: center;
    }
    &__left {
      text-align: left;
    }
    &__right {
      text-align: right;
    }

    &:not(:empty):before,
    &[data-placeholder]:empty:focus::before {
      content: '\275D' !important;
      opacity: 1 !important;
      left: 20px;
    }
  }
}

.cdx-quote [contentEditable='true'][data-placeholder]::before {
  position: absolute;
  content: attr(data-placeholder);
  color: #707684;
  font-weight: normal;
  opacity: 0;
}

.cdx-quote [contentEditable='true'][data-placeholder]:empty::before {
  opacity: 1;
}

.cdx-quote [contentEditable='true'][data-placeholder]:empty:focus::before {
  opacity: 0;
}

.cdx-quote-settings {
  display: flex;
}

.cdx-quote-settings .cdx-settings-button {
  width: 50%;
}
